version: "3.8"

services:
  vsftpd_1:
    image: lhauspie/vsftpd-alpine:latest
    container_name: vsftpd_1
    restart: always
    ports:
      - "2222:21"
      - "21100-21110:21100-21110"
    environment:
      FTP_USER: "user1"
      FTP_PASS: "user1"
      PASV_ADDRESS: "10.1.194.44"
      PASV_MIN_PORT: "21100"
      PASV_MAX_PORT: "21110"
    volumes:
      - ./DATA/container-1:/home/vsftpd/user1/
    networks:
      - public-net
      - private-net   # ให้คุยกับ vsftpd_2 ได้

  vsftpd_2:
    image: lhauspie/vsftpd-alpine:latest
    container_name: vsftpd_2
    restart: always
    environment:
      FTP_USER: "user2"
      FTP_PASS: "user2"
      PASV_ADDRESS: "10.1.194.44"
      PASV_MIN_PORT: "22100"
      PASV_MAX_PORT: "22110"
    volumes:
      - ./DATA/container-2:/home/vsftpd/user2/
    networks:
      - private-net  # คุยกับ vsftpd_1 ได้เท่านั้น

  vsftpd_3:
    image: lhauspie/vsftpd-alpine:latest
    container_name: vsftpd_3
    restart: always
    environment:
      FTP_USER: "user3"
      FTP_PASS: "user3"
      PASV_ADDRESS: "10.1.194.44"
      PASV_MIN_PORT: "23100"
      PASV_MAX_PORT: "23110"
    volumes:
      - ./DATA/container-3:/home/vsftpd/user3/
    networks:
      - isolated

networks: # Networks ทำหน้าที่คล้ายๆ กับ "Switch"
  public-net:
    driver: bridge

  private-net:
    driver: bridge
    internal: true     # ตัดการเชื่อมต่อกับภายนอกทั้งหมด

  isolated:
    driver: bridge
    internal: true